
.all .articles{display:grid; gap:5rem; align-content:flex-start;}
.all .articles .article{position:relative;}
.all .articles .article .thumbnail{position:absolute; object-fit:cover; border-radius:.8rem; z-index:0; opacity:.25; transition:all .3s ease;}
.all .articles .article .article__content{position:relative; z-index:1;}
.all .articles .article .article__content > *{margin-bottom:2rem;}
.all .articles .article .article__content .post-categories{margin:0; padding:0; list-style:none; font-family:monospace;}
.all .articles .article .article__content .post-categories li a{color:var(--color-title); text-decoration:none;}
.all .articles .article .article__content .permalink{text-decoration:none; display:inline-flex; transition:all ease .3s;}
.all .articles .article .article__content .permalink:focus{outline:none; box-shadow:none;}
.all .articles .article .article__content .permalink:focus .article__title{box-shadow:var(--box-shadow-focus);}
.all .articles .article .article__content .article__title{font-weight:600; border-radius:.3rem;}
.all .articles .article .tags{position:relative; z-index:1;}
.all .articles .article .tags a{text-decoration:none;}
.all .articles .article .tags a:hover{text-decoration:underline;}

@media screen and (min-width: 31px) and (max-width: 767px){
    .all .articles .article .thumbnail{width:100%; height:100%;}
    .all .articles .article .article__content{padding:2rem 2rem 0 2rem;}
    .all .articles .article .article__content > p{font-size:1.4rem; line-height:1.5; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow:hidden;}
    .all .articles .article .tags{display:inline-flex; flex-wrap:wrap; gap:1rem; padding:0 2rem 2rem 2rem;}
    .all .articles .article .tags a:before{position:relative; padding:7px; display:inline-block;}
    .all .articles .article .tags a{padding:.5rem 1.2rem; background-color:var(--background-color-tag); color:var(--color-tag); border-radius:.4rem; font-size:1.4rem; display:inline-flex; align-items:center; gap:.7rem; transition:all ease .25s;}
    .all aside{display:none;}
}

@media(min-width:768px){
    .all .articles .article .thumbnail{width:53%; top:50%; transform:translateY(-50%); aspect-ratio:4/3; max-height:322px;}
    .all .articles .article:nth-child(odd) .thumbnail{right:0;}
    .all .articles .article:nth-child(even) .thumbnail{left:0;}
    .all .articles .article .thumbnail:hover{opacity:1;}
    .all .articles .article:nth-child(even) .article__content{margin-left:auto; text-align:right;}
    .all .articles .article:nth-child(even) .article__content .author_widget{grid-template-columns:1fr 4.3rem;}
    .all .articles .article:nth-child(even) .article__content .author_widget .avatar{grid-column:2/3;}
    .all .articles .article:nth-child(even) .article__content .author_widget .author-ocupation{grid-column:1/2;}
    .all .articles .article:nth-child(even) .tags{text-align:right;}
    .all .articles .article .article__content{width:53%;}
    .all .articles .article .article__content > p{font-size:1.4rem; line-height:1.5; padding:2rem; background-color:var(--background-color-title-section); border-radius:.8rem; box-shadow:0 10px 30px -15px rgba(2,12,27,0.7);}
    .all .articles .article:nth-child(odd) .tags > *:not(:last-child){margin-right:2rem;}
    .all .articles .article:nth-child(even) .tags > *:not(:first-child){margin-left:2rem;}
    .all .articles .article .tags a:before{position:relative; padding:7px; display:inline-block;}
    .all .articles .article .tags a{font-family:monospace; color:var(--color-tag); font-size:1.7rem; display:inline-flex; align-items:center; gap:.7rem; transition:all ease .25s;}
}