/* ajustes de los inputs, botones, etc */
article input:not([type=checkbox]),
textarea{box-shadow:none!important; border-radius:5px!important; border:1px solid var(--background-color-input)!important;}
button, .button{
    display:flex; align-items:center; justify-content:center; 
    height:4rem; 
    padding:0 15px; 
    border-radius:5px!important; 
    background-color:var(--color-emphasis); 
    color:#fff;
    transition:all .3s ease;
}
button:hover, .button:hover{background-color:var(--color-emphasis); opacity:.8;}
input#submit.disabled, 
input#submit:disabled, 
input#submit:disabled[disabled],
a.button.disabled, 
a.button:disabled, 
a.button:disabled[disabled], 
button.button.disabled, 
button.button:disabled, 
button.button:disabled[disabled], 
input.button.disabled, 
input.button:disabled, 
input.button:disabled[disabled]{cursor:not-allowed; opacity:.5;}

/* cantidad */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none; margin:0;}
input[type=number]{-moz-appearance:textfield;}
.quantity{display:flex; justify-content:end;}
#input-qty{width:4rem; border:none; border-radius:0; border-bottom:1px solid translarent; background-color:transparent; color:var(--color-text); padding:0 1rem; margin:0 .7rem; text-align:right; transition:all .3s ease;}
#input-qty:focus{outline:none; border-bottom:1px solid var(--color-emphasis);}
#button-less, #button-plus{
    display:grid; place-content:center; 
    width:2.4rem; height:2.4rem; padding:0;
    border:1px solid var(--border-color-input); 
    background-color:var(--background-color-title-section); 
    color:var(--color-text); 
    border-radius:.3rem;
    transition:all .3s ease;
}

/* ajustes de la página */
.section .woocommerce{display:grid; gap:40px;}
.product-thumbnail{display:none!important;}

/* ajustes de las tablas */
table{
    background-color:var(--background-color-input);
    border:1px solid var(--border-color-input);
    border-radius:8px;
    width:100%;
    border-collapse:separate;
    text-align:left;
}
table :is(thead, tbody) :is(th, td){padding:9px 12px; box-sizing:border-box; text-align:right;}
table thead{display:none;}
table tbody tr{display:grid;}
table tbody th{display:none;}
table td:not(.product-remove, .actions):before{content:attr(data-title) ": "; font-weight:700; float:left;}
table tbody tr:last-child{background-color:rgba(0, 0, 0, .025);}
.qty{width:80px;}
.actions{display:grid; gap:9px;}
.coupon{display:grid; grid-template-columns:1fr 1fr; gap:9px;}
.coupon input{font-size:16px; width:100%;}
.coupon label{display:none;}
#shipping_method{margin:0; margin-bottom:9px; list-style:none;}
.woocommerce-shipping-totals td > *{margin-bottom:9px;}
.shipping-calculator-form{display:grid; gap:18px;}
.shipping-calculator-form input{width:100%;}
.shipping-calculator-form .button{margin-left:auto;}
.select2-results__option{color:var(--color-text);}
.cart-collaterals{display:grid; align-items:flex-start; gap:30px;}
.cart-collaterals > div{display:grid; gap:20px;}
.cart-collaterals > div h2{font-size:30px;}
.cross-sells{grid-template-columns:repeat(auto-fill, minmax(218px, 1fr));}

.wc-proceed-to-checkout .checkout-button{color:#fff;}

/* carrito vacio */
.cart-empty,
.return-to-shop{width:min(100%, 300px); margin-inline:auto; text-align:center;}

@media(min-width:768px){
    .product-thumbnail{display:grid!important; place-content:center;}
    .product-thumbnail img{width:100%; border-radius:.4rem; object-fit:cover; aspect-ratio:3/4;}
    .woocommerce-cart-form__contents thead{display:inherit; border-bottom:1px solid var(--background-color-title-section); width:100%;}
    .woocommerce-cart-form__contents :is(thead, tbody) :is(th, td){text-align:left;}
    .woocommerce-cart-form__contents :is(thead, tbody) tr{display:grid; grid-template-columns:40px 1fr 1fr 1fr 1fr 1fr;}
    .woocommerce-cart-form__contents tbody tr:last-child{grid-template-columns:1fr;}
    .woocommerce-cart-form__contents tbody tr:last-child td{grid-template-columns:300px 1fr;}
    .woocommerce-cart-form__contents tbody tr:last-child td button{margin-left:auto;}
    .woocommerce-cart-form__contents tbody td:not(.product-remove, .actions):before{display:none;}
    .cart-collaterals{grid-template-columns:1fr 300px;}
    .cart_totals{grid-column:2/-1;}
    .quantity{justify-content:flex-start;}
}