.main-content{
    box-shadow: 0 4px  30px  rgba(27,100,150,.1),
                0 4px  8px  rgba(27,100,150,.08),
                0 16px  16px  rgba(27,100,150,.09),
                0 24px  64px  rgba(27,100,150,.08);
}

#contact-group{background-color:var(--background-color-contact-section);}
#contact-group .section{display:grid; grid-template-columns:repeat(auto-fill, minmax(305px, 1fr)); padding:4rem 0; gap:5rem;}
#contact-group .content-section .contact-form{display:grid; gap:1.7rem; align-content:flex-start;}
#contact-group .content-section .contact-form .title{font-weight:600;}
#contact-group .contact-message > p{font-size:3.2rem;}
#contact-group .contact-message > p span{
    font-weight: bold;
    background-image: linear-gradient(22deg, #c12927, #ffbf02);
    color: rgba(0, 0, 0, 0);
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
}

@media(min-width:768px){
    /* ajustes a formulario de contacto */
    #contact-group .contact-message{grid-column:1/3;}
}

@media(min-width:1024px){
    #contact-group .section{padding:10rem 0;}
    #contact-group .contact-message{grid-column:1/2;}
    #contact-group .content-section{grid-template-columns:1fr 350px 250px;}
}