.error404 main .container .section{display:grid; grid-template-columns:repeat(auto-fill, minmax(305px, 1fr)); padding:4rem 0; gap:5rem;}
.error404 .container .error > *:not(:last-child){margin-bottom:1.7rem;}
.error404 .container .error h1{
    margin: 0;
    color: #fff;
    font-size: 15rem;
    font-weight: bold;
    text-shadow: 
        0 .005em 0 #ccc, 
        0 .01em 0 #c9c9c9, 
        0 .015em 0 #bbb, 
        0 .02em 0 #b9b9b9, 
        0 .025em 0 #aaa, 
        0 .03em .005em rgba(0,0,0,.1), 
        0 0 .025em rgba(0,0,0,.1), 
        0 .005em .015em rgba(0,0,0,.3), 
        0 .015em .025em rgba(0,0,0,.2), 
        0 .025em .05em rgba(0,0,0,.25), 
        0 .05em .05em rgba(0,0,0,.2), 
        0 .1em .1em rgba(0,0,0,.15);
}
.error404 .container .error h3{margin-top:3rem; font-weight:600;}
.error404 .container .error a{color:var(--color-text-link); display:inline-flex; align-items:center;}
.error404 .container .error a svg{position:relative; top:.15rem;}
.error404 .container .error .searchform .searchform-wrapper{position:relative; display:flex; justify-content:flex-end;}
.error404 .container .error .searchform .searchform-wrapper .input-search{width:100%; padding-left:4rem;}
.error404 .container .error .searchform .searchform-wrapper svg{position:absolute; top:0; left:0; width:1.7rem; height:1.7rem; padding:1.15rem; cursor:pointer;}
.error404 .container .error .searchform .searchform-wrapper .bi-x-circle{display:none;}
.error404 .content-section .contact-form{display:grid; gap:1.7rem; align-content:flex-start;}
.error404 .content-section .contact-form .title{font-weight:600;}

@media(min-width:768px){
    /* ajustes a formulario de contacto */
    .error404 .container .error{grid-column:1/3;}
}

@media(min-width:1024px){
    /* 404 & contacto */
    .error404 main .container:nth-child(2) .section{padding:10rem 0;}
    .error404 .container .error{grid-column:1/2;}
    .error404 main .container .content-section{grid-template-columns:1fr 350px 250px;}
}