.page-template-resume main .container.main-content{padding:4rem 0; display:grid; gap:4rem;}
.page-template-resume main .container.main-content .section{padding:0;}

.name-and-contact-data{margin:0; padding:0; list-style:none;}
.name-and-contact-data li{display:flex; align-items:center; height:5rem;}
.name-and-contact-data li p{display:inline-flex; align-items:center; gap:.7rem;}
.name-and-contact-data li a{text-decoration:none; display:inline-flex; align-items:center; gap:.7rem;}
.name-and-contact-data li svg{color:var(--color-text);}

.title-wrapper{position:relative; margin-bottom:2rem; border-bottom:2px solid #f1f1f1;}
.title{font-size:var(--wp--preset--font-size--x-large); font-weight:600; color:var(--color-text); display:inline; position:relative;}
.title:before{position:absolute; bottom:-5px; left:0; width:100%; height:2px; background-color:var(--color-text); content:'';}

.text-colored{color:var(--color-text-link);}

.section p{line-height:1.7;}
.section > :is(p:not(:last-child), div){margin-bottom:1.7rem;}

.skills{margin:0; padding:0; list-style:none; display:inline-flex; flex-wrap:wrap; gap:1rem;}
.skills li{display:inline-flex; align-items:center; height:3rem; padding:0 1rem; background-color:var(--color-text-link); border-radius:.4rem; color:#1b6496;}

.tech{margin:0; padding:0; list-style:none; display:inline-flex; flex-wrap:wrap; gap:3rem;}
.tech li ul{margin:0; padding:0; list-style:none;}

@media screen and (min-width:31px) and (max-width:399px){
    .name-and-contact-data li:not(:last-child){border-bottom:1px solid var(--border-color-input);}
}

@media(min-width:400px){
    .name-and-contact-data{display:inline-flex; flex-wrap:wrap; gap:0 3rem;}
}