.page-template-resume main .container.main-content{padding:3rem 0; display:grid; gap:3rem;}
.page-template-resume main .container.main-content .section{padding:0;}

.name-and-contact-data{margin:0; padding:0; list-style:none;}
.name-and-contact-data li{display:flex; align-items:center; height:5rem;}
.name-and-contact-data li:is(p, a){text-decoration:none; display:inline-flex; align-items:center; gap:.7rem;}