.page-template-resume main .container.main-content{padding:3rem 0; display:grid; gap:3rem;}
.page-template-resume main .container.main-content .section{padding:0;}

.name-and-contact-data{margin:0; padding:0; list-style:none;}