/* contenedor */
main .container .section.archive-products{padding:4rem 0; display:grid; grid-template-columns:1fr 1fr; gap:2rem;}
main .container .section.archive-products:has(article:hover) > article:not(:hover){opacity:.25;}
    /* artículo */
    article{display:grid; gap:1.7rem; grid-template-rows:1fr auto auto; color:var(--color-text); transition:all .3s ease;}
    article a{text-decoration:none;}
    article .content-wrapper{order:1; display:grid; gap:1.7rem; align-content:flex-start; text-align:center;}
        /* orden */
        article .price{order:4;}
        /* imagen */
        article .wp-post-image{width:100%; aspect-ratio:1/1; object-fit:cover; border-radius:.4rem;}
        /* tamaño de fuente */
        article :is(.button-cart-wrapper, .title, .price, .excerpt-wrapper, .wp-block-button, .wp-element-button, .added_to_cart, .link-to-product){font-size:1.4rem;}
        /* título */
        article .title{font-weight:bold;}
        /* calificación */
        article .star-rating{order:3; display:flex; gap:.7rem;}
        article .star-rating svg{color:gold;}
        article :is(.price, .star-rating){display:flex; justify-content:center;}
        /* enlaces de compra */
        article .button-cart-wrapper{order:5; margin-inline:auto; display:flex; gap:.7rem; align-items:center; align-self:end;}
        /* agregar al carrito */
        .product_type_simple{display:inline-flex; align-items:center; gap:.7rem;}
        .product_type_simple:before{position:relative; padding:7px; display:inline-block;}
        .product_type_simple.added{font-size:0; gap:0;}
        /* variation swatches */
        .cfvsw_variations_form{order:2;}
        .cfvsw-shop-variations tbody tr:last-child{display:none;}
        .cfvsw-shop-variations tbody .value{justify-content:center;}
        /* hipervínculo al artículo */
        .link-to-product{order:6; display:inline-flex; align-items:center; gap:.7rem; color:var(--color-text-link); margin-inline:auto;}

@media(min-width:768px){
    main .container .section.archive-products{grid-template-columns:repeat(3, 1fr); gap:4rem;}
    article .permalink img{border-radius:.8rem;}
}

@media(min-width:1024px){
    main .container .section.archive-products{grid-template-columns:repeat(4, 1fr);}
}