/* contenedor */
main .container .section.archive-products{padding:4rem 0; display:grid; grid-template-columns:1fr 1fr; gap:2rem;}
main .container .section.archive-products:has(article:hover) > article:not(:hover){opacity:.25; filter:blur(.5rem);}
    /* artículo */
    article{display:grid; gap:1.7rem; grid-template-rows:1fr auto auto; transition:all .3s ease;}
    article{color:var(--color-text);}
    article .content-wrapper{order:1; display:grid; gap:1.7rem; align-content:flex-start; text-align:center;}
        /* orden */
        article .price{order:4;}
        /* imagen */
        article .wp-post-image{width:100%; aspect-ratio:3/4; object-fit:cover; border-radius:.4rem;}
        /* tamaño de fuente */
        article :is(.title, .price, .excerpt-wrapper, .wp-block-button, .wp-element-button, .added_to_cart, .link-to-product){font-size:1.4rem;}
        /* calificación */
        article .star-rating{order:3; display:flex; gap:.7rem;}
        article .star-rating svg{color:gold;}
        article :is(.price, .star-rating){display:flex; justify-content:center;}
        /* enlaces de compra */
        article .button-cart-wrapper{order:5; margin-inline:auto; display:flex; gap:.7rem; align-items:center; align-self:end;}
        .wp-element-button, .wp-block-button{display:flex; background-color:transparent; color:var(--color-text-link); border-radius:.4rem;}
        .wp-element-button:hover, .wp-block-button__link:hover,
        .wp-element-button:focus, .wp-block-button__link:focus{background-color:transparent; color:var(--color-text-link);}
        .wp-element-button:visited, .wp-block-button__link:visited{color:var(--color-text-link);}
        article .button-cart-wrapper .wp-element-button,
        article .button-cart-wrapper .wp-block-button{display:inline-flex; align-items:center; gap:.7rem; height:auto; padding:0;}
        article .button-cart-wrapper .wp-element-button.added,
        article .button-cart-wrapper .wp-block-button.added{gap:0; font-size:0; display:grid; width:2.2rem; height:2.2rem; display:grid; place-content:center; border-radius:50%;}
        article .button-cart-wrapper .wp-element-button.added:focus,
        article .button-cart-wrapper .wp-block-button.added:focus{background-color:transparent;}
        article .button-cart-wrapper .wp-element-button:before,
        article .button-cart-wrapper .wp-block-button:before{position:relative; padding:8.5px; display:inline-block;}
        article .button-cart-wrapper .wp-element-button.added:before,
        article .button-cart-wrapper .wp-block-button.added:before{position:relative; padding:8.5px; display:inline-block;}
        /* variation swatches */
        .cfvsw_variations_form{order:2;}
        .cfvsw-shop-variations tbody tr:last-child{display:none;}
        .cfvsw-shop-variations tbody .value{justify-content:center;}
        /* hipervínculo al artículo */
        .link-to-product{order:6; display:inline-flex; align-items:center; gap:.7rem; color:var(--color-text-link); margin-inline:auto;}

@media(min-width:768px){
    main .container .section.archive-products{grid-template-columns:repeat(3, 1fr); gap:4rem;}
    article .permalink img{border-radius:.8rem;}
}

@media(min-width:1024px){
    main .container .section.archive-products{grid-template-columns:repeat(4, 1fr);}
}