.single-product main .container .section.data-product{display:grid; gap:4rem; padding:3rem 0;}

/* galería *
.woocommerce-product-gallery{position:relative; display:grid; align-items:flex-start; gap:2rem; grid-template-columns:5rem 1fr 4rem;}
    /* miniaturas *
    .flex-control-nav{order:1; margin:0; padding:0; list-style:none; display:grid; gap:2rem; align-content:flex-start;}
    .flex-control-nav li{border-radius:.4rem; overflow:hidden; display:flex;}
    .flex-control-nav li img{width:100%;}
    .flex-control-thumbs li img{opacity:.5; aspect-ratio:3/4; object-fit:cover; transition:all .25s ease;}
    .flex-control-thumbs li img:hover{opacity:1;}
    .flex-control-thumbs li img.flex-active{opacity:1;}
    /* fotos *
    .flex-viewport{order:2; height:413.3px; background-color:var(--background-color-title-section); border-radius:.4rem; overflow:hidden;}
    .woocommerce-product-gallery__image a img{width:calc(100vw - 17rem); height:413.3px; object-fit:cover;}
    /* botón zoom *
    .woocommerce-product-gallery__trigger{order:3; position:relative; display:grid; place-content:center; width:4rem; height:4rem; background-color:var(--background-color-title-section);}
    .woocommerce-product-gallery__trigger:before{position:absolute; padding:8.5px; display:inline-block; top:50%; left:50%; transform:translate(-50%, -50%); background-color:var(--background-color-title-section); border:2px solid var(--background-color-title-section);}

/* sumario *
.product-summary{display:grid; align-content:flex-start; gap:2rem;}
    /* variations cart *
    .variations_form.cart{display:grid; gap:2rem;}
    /* precio *
    .price{font-weight:600;}
    /* cantidad *
    .single_variation_wrap{display:grid; gap:2rem;}
    .woocommerce-variation-add-to-cart{display:grid; gap:2rem; grid-template-columns:auto 1fr; align-items:center;}
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none; margin:0;}
    input[type=number]{-moz-appearance:textfield;}
    .quantity{display:flex; justify-content:center;}
    #input-qty{width:4rem; border:none; border-radius:0; border-bottom:1px solid translarent; background-color:transparent; color:var(--color-text); padding:0 1rem; margin:0 .7rem; text-align:right; transition:all .3s ease;}
    #input-qty:focus{outline:none; border-bottom:1px solid var(--color-emphasis);}
    #button-less, #button-plus{
        display:grid; place-content:center; 
        width:2.4rem; height:2.4rem; 
        border:1px solid var(--border-color-input); 
        background-color:var(--background-color-title-section); 
        color:var(--color-text); 
        border-radius:.3rem;
        transition:all .3s ease;
    }
    #button-less:focus, #button-plus:focus{outline:none; box-shadow:var(--box-shadow-focus);}
    #wc-stripe-payment-request-wrapper{padding-top:0!important;}
    #wc-stripe-payment-request-button-separator{margin-top:0!important;}
    .single_add_to_cart_button{display:flex; align-items:center; justify-content:center; height:4rem; background-color:var(--background-color-button); color:#fff; padding:0 2rem; border-radius:.4rem; transition:all .3s ease;}
    .single_add_to_cart_button:hover{background-color:var(--background-color-button); color:#fff; filter:brightness(1.15);}
    .single_add_to_cart_button:focus{outline:none; box-shadow:var(--box-shadow-focus); border-radius:.3rem; background-color:transparent; color:var(--color-text-link);}
    /* metadatos *
    .product_meta{display:grid; gap:1.4rem; color:var(--color-text-link); font-size:1.4rem;}
    .product_meta a{color:var(--color-text-link);}
/* swatches *
.variations tr{display:grid; gap:.5rem; text-align:left;}
#container-talla{display:flex; flex-wrap:wrap; gap:1rem;}
#container-talla label{display:grid; place-content:center; width:4rem; height:2.5rem; border-radius:.4rem; background-color:var(--background-color-title-section); color:var(--color-text); border:1px solid var(--border-color-input); font-size:1.2rem; transition:all .3s ease;}
#container-talla label.checked{border:1px solid var(--color-text-link);}
#container-talla label input[type=radio]{display:none;}

/* compartir */
.share-social{position:relative; font-size:1.4rem; color:var(--color-text-link); margin-top:2rem;}

/*
@media(min-width:768px){
    .single-product main .container .section.data-product{grid-template-columns:1fr 1fr;}
    /* galería - fotos *
    .woocommerce-product-gallery__image a img{width:calc(50vw - 17rem);}
}

@media(min-width:1024px){
    /* fotos *
    .flex-viewport,
    .woocommerce-product-gallery__image a img{height:586.64px;}
    /* cantidad *
    .woocommerce-variation-add-to-cart{grid-template-columns:auto 1fr;}
}

@media(min-width:1096px){
    /* galería - fotos *
    .woocommerce-product-gallery__image a img{width:398px;}
}
*/