.single-product main .main-content{display:grid;}

.single-product main .container.container-data-product{position:relative; overflow:hidden;}
.single-product main .container.title-section-wrapper .section{padding:2rem 0;}
.single-product main .container .section{padding:0;}
.single-product main .container .section.data-product{display:grid; gap:4rem; padding:3rem 0;}
.woocommerce-notices-wrapper{background-color:#f0faf5; color:#367c5c;}
.woocommerce-message{width:min(100% - 4rem, 1366px); margin-inline:auto; padding:2rem 0;}
.woocommerce-message a.button.wc-forward{padding:1rem 2rem; background-color:#367c5c; color:#fff; text-decoration:none; border-radius:.4rem; margin-right:1rem;}

/* galería */
.woocommerce-product-gallery{position:relative;}
    /* cinta de oferta */
    .onsale{position:absolute; background-color:red; color:#fff; left:-40px; top:23px; padding:.5rem 5rem; transform:rotate(-45deg); box-shadow:var(--box-shadow-main-content); z-index:2;}
    /* botón zoom */
    .woocommerce-product-gallery__trigger{position:absolute; display:grid; place-content:center; width:4rem; height:4rem; background-color:var(--background-color-title-section); top:1rem; right:1rem; z-index:1;}
    .woocommerce-product-gallery__trigger:before{position:absolute; padding:8.5px; display:inline-block; top:50%; left:50%; transform:translate(-50%, -50%); background-color:var(--background-color-title-section); border:2px solid var(--background-color-title-section);}
    /* miniaturas */
    .flex-control-nav{order:1; margin:2rem 0 0 0; padding:0; list-style:none; display:flex; gap:2rem; align-content:flex-start;}
    .flex-control-nav li{border-radius:.4rem; overflow:hidden; display:flex;}
    .flex-control-nav li img{width:5rem;}
    .flex-control-thumbs li img{opacity:.5; aspect-ratio:1/1; object-fit:cover; transition:all .25s ease;}
    .flex-control-thumbs li img:hover{opacity:1;}
    .flex-control-thumbs li img.flex-active{opacity:1;}
/* sumario */
.product-summary > *:not(:last-child){margin-bottom:2rem;}
    
    /* calificación */
    .woocommerce-product-rating{display:flex; align-items:center; gap:2rem;}
        /* calificación con estrellas */
        .star-rating{display:flex; gap:.7rem;}
        .star-rating svg{color:gold;}
        .star-rating{display:flex;}
        /**/
        .woocommerce-review-link{text-decoration:none;}
    
    /* precio */
    .price del{opacity:.25; margin-right:.7rem;}
    .price ins{text-decoration:none; font-weight:bold;}

    /* agregar al carrito */
    .cart{display:inline-flex; align-items:center; gap:2rem;}
        /* cantidad */
        .quantity{display:flex; align-items:center;}
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none; margin:0;}
        input[type=number]{-moz-appearance:textfield;}
        .quantity{display:flex; justify-content:center;}
        #input-qty{width:4rem; height:2.2rem; border:none; border-radius:0; border-bottom:1px solid translarent; background-color:transparent; color:var(--color-text); padding:0 1rem; margin:0 .7rem; text-align:right; transition:all .3s ease;}
        #input-qty:focus{outline:none; border-bottom:1px solid var(--color-emphasis);}
        #button-less,
        #button-plus,
        .single_add_to_cart_button{
            display:grid; place-content:center; 
            width:2.4rem; height:2.4rem; 
            border:1px solid var(--border-color-input); 
            background-color:var(--background-color-title-section); 
            color:var(--color-text); 
            border-radius:.3rem;
            transition:all .3s ease;
        }
        #button-less:focus, 
        #button-plus:focus, 
        .single_add_to_cart_button:focus{outline:none; box-shadow:var(--box-shadow-focus);}
        .single_add_to_cart_button{width:auto; padding:0 2rem;}
        .single_add_to_cart_button:hover{background-color:var();}

/* container aside product */
.container-aside-product{background-color:var(--background-color-contact-section); padding:3rem 0;}
        /* tabs de contenido extra */
        .tabs.wc-tabs{margin:0; padding:0; list-style:none; display:flex; align-items:center;}

@media(min-width:768px){
    /* datos del producto */
    .single-product main .container .section.data-product{grid-template-columns:1fr 1fr;}
}