/* botones de idioma */
:is(.blog, .single, .page-template-default, .error404, .archive, .search, .page-template-contact, #hero .section) .lang{position:absolute; top:4rem; right:0;}
.lang{margin:0; padding:0; display:flex; gap:1rem; align-items:center; list-style:none;}
.lang svg{color:var(--background-color-current-lang); opacity:.5;}
.lang li a{position:relative; font-size:0; transition:all .25s ease;}
.lang li a:focus{outline:none;}
.lang li a:before{position:absolute; top:0; left:0; font-size:1.7rem; display:grid; place-content:center; width:3rem; height:3rem; border:1px solid var(--border-color-lang); background-color:var(--background-color-title-section); color:var(--color-lang); border-radius:.3rem;}
.lang li a:focus:before{box-shadow:var(--box-shadow-focus);}
.lang li.current-lang a:before{background-color:var(--background-color-current-lang); color:#fff;}
.lang li.lang-item-en a:before{content:'EN';}
.lang li.lang-item-es a:before{content:'ES';}
.lang li a{width:3rem; height:3rem; display:grid;}

/* títulos */
.widget-title,
li.categories{font-size:var(--wp--preset--font-size--x-large); font-weight:600; color:var(--color-text); list-style:none;}
:is(.tags-widget, .archive-list-widget) .widget-title{margin-bottom:2rem;}

/* tags links customize */
.tags-widget a{position:relative; color:var(--color-text-link); text-decoration:none;}
.tags-widget a:hover{text-decoration:underline;}
.tags-widget a:before{content:'#';}
.tags-widget .tags{display:inline-flex; gap:0 1.5rem; flex-wrap:wrap;}

/* contenedor de widget */
li.categories{display:grid; gap:2rem;}
.widget-wrapper{display:grid; gap:2rem;}

/* botones de compartir */
.share-social p{display:flex; align-items:center; gap:3rem;}
.share-social p a{display:flex; color:var(--color-text);}

/* autor */
.author_widget{display:grid; align-items:center; grid-template-columns:3.6rem 1fr; grid-column-gap:1.8rem;}
.author_widget img{grid-row:1/3; border-radius:50%; background-color:var(--color-emphasis);}
.author_widget .author-name{align-self:flex-end;line-height:1.6;}
.author_widget .author-ocupation{align-self:baseline; grid-column:2/3; font-size:1.4rem; opacity:.5;}

/* fecha de publicación */
.publicate-date_widget{font-size:1.7rem; display:inline-flex; align-items:center; gap:.7rem; opacity:.5;}

/* lista de categorías */
.categories ul{font-size:1.7rem; font-weight:300;}

/* listas - widgets */
:is(address, .categories) ul,
.archive-list-widget{margin:0; padding:0; list-style:none; font-size:1.7rem; font-family:var(--wp--preset--font-family--system-font); font-weight:300;}
:is(address, .categories) ul li,
.archive-list-widget li{height:5rem; display:flex; align-items:center;}
.categories ul li:has(ul){display:grid; height:10rem; grid-template-rows:5rem 5rem;} 
.categories ul li ul li{padding-left:2.4rem; border-top:1px solid var(--border-color-input);}
:is(address, .categories) ul li:not(:last-child),
.archive-list-widget li:not(:last-child){border-bottom:1px solid var(--border-color-input);}
:is(address, .categories) ul li a,
.archive-list-widget li a{display:inline-flex; align-items:center; gap:.7rem; color:var(--color-text); text-decoration:none;}
:is(address, .categories) ul li a:hover,
.archive-list-widget li a:hover{text-decoration:none;}
.categories ul li a,
.archive-list-widget li a{display:inline-flex; align-items:center; gap:.7rem;}
.categories ul li a:before,
.archive-list-widget li a:before{position:relative; padding:8.5px; display:inline-block;}
address ul.address li:nth-child(4){gap:.7rem;}
address ul li:nth-child(n+5){padding-left:2.7rem;}

/* artículos más recientes */
.latest-posts_widget__article{display:grid; grid-template-columns:1fr 1fr; align-items:flex-start;}
.latest-posts_widget__article .thumbnail{width:15rem; height:9rem; object-fit:cover; border-radius:.4rem;}
.latest-posts_widget__article .content .permalink{box-shadow:none; text-decoration:none;}
.latest-posts_widget__article .content .permalink:hover{text-decoration:underline;}
.latest-posts_widget__article .content .permalink__title{font-weight:600; color:var(--color-title); display:-webkit-box; -webkit-line-clamp:1; -webkit-box-orient:vertical; overflow:hidden; border-radius:.3rem; transition:all .25s ease;}
.latest-posts_widget__article .content .permalink:focus .permalink__title{box-shadow:var(--box-shadow-focus);}
.latest-posts_widget__article .content p{font-size:1.4rem; display:-webkit-box; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow:hidden;}

/* dirección */
address.contact-card{display:grid; gap:5rem; font-style:normal; align-content:flex-start;}
address.contact-card ul .widget-title{margin-bottom:2rem;}
    /* ajustes de color en contacto */
    :is(.single .comments-section-wrapper .comments-section, #contact-group) address ul :is(li, li a){color:var(--color-contact-section);}
    :is(.single .comments-section-wrapper .comments-section, #contact-group) address ul li:not(:last-child){border-bottom:1px solid var(--border-color-contact-section);}
    /* ajustes de color en formularios */
    :is(.single .comments-section-wrapper, #contact-group) :is(input[type=text], input[type=email], input[type=tel], textarea){border:1px solid var(--border-color-contact-section); background-color:var(--background-color-input-contact-section);} 
    :is(.single .comments-section-wrapper, #contact-group) :is(input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, textarea:focus){outline:none; border:1px solid var(--color-emphasis); box-shadow:var(--box-shadow-input-focus);}

@media(min-width:768px){
    /* botones de compartir */
    .share-social{position:absolute; bottom:2.1rem; right:0;}
}